* {
  text-align: left;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

body {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 50vh 1fr;
  height: 100vh;
}

.main-kanji {
  font-size: 500px;
  /* border: 1px solid black; */

}

.details {
  /* height: 100%; */
  width: 100%;
  font-size: 80px;
  display: grid;
  grid-template-columns: 1;
  margin-top: 0;
  overflow: hidden;
  /* grid-template-rows: 20 20 20 20 20; */

}

.reading {
  max-width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  /* white-space: wrap; */
  overflow: scroll;
  padding-bottom: 100px
}

.yomi-kata {
  writing-mode: vertical-lr;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  height: 600px;
  overflow: scroll;

}

*::-webkit-scrollbar {
  display: none;
}

.yomi {
  /* flex: 0 0 0; */
  margin-top: unset;
  /* width: 2000px; */
  border-left: 0.5px black solid;
  border-right: 0.5px black solid;
  height: 100%;
}

div {
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.kanji-meta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1;
  width: 100%;
  padding-bottom: 100px;
}